<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="card-header">
                    Cursos
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">consultar</li>
                    <li class="list-group-item">Agregar</li>
                    <li class="list-group-item">Modificar</li>

                </ul>
                <a href="#" class="btn btn-primary">proximamente...</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="card-header">
                    Usuarios
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">consultar</li>
                    <li class="list-group-item">Agregar</li>
                    <li class="list-group-item">Modificar</li>

                </ul>
                <a href="#" class="btn btn-primary">proximamente...</a>
            </div>
        </div>
    </div>
</div>