<div class="container">
    <div class="card" *ngIf="serviceCursos.listcursos">

        <div class="card-header">

            <h3>Cursos</h3>

        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Cantidad</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let curso of cursos" class="text-center">
                        <td>{{curso.id}}</td>
                        <td>{{curso.nombre}}</td>
                        <td>{{curso.cantidadAlumnos}}</td>
                        <td>
                            <button class="btn btn-warning">Editar</button>
                            <!-- <button (click)="eliminar(curso)" class="btn btn-danger">Eliminar</button> -->

                        </td>

                    </tr>

                </tbody>
            </table>

        </div>

    </div>

</div>