<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-header">
                        Gestor de Cursos
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><button class="btn btn-primary" (click)="verlistacursos()">Lista Cursos</button></li>
                        <li class="list-group-item">Agregar Cursos</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-header">
                        Gestor de Usuarios
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><button class="btn btn-primary" (click)="verlista()">Listar Usuarios </button></li>
                        <li class="list-group-item"><button class="btn btn-primary" (click)="verAgregar()">Agregar Usuarios </button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <app-listar> </app-listar>
    <app-agregar></app-agregar>



</div>