<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-header">
                        Gestor de Cursos
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">consultar Cursos</li>
                        <li class="list-group-item">Agregar Cursos</li>
                        <li class="list-group-item">Modificar Cursos</li>

                    </ul>
                    <a href="#" class="btn btn-primary">proximamente...</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-header">
                        Gestor de Usuarios
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">consultar Usuarios</li>
                        <li class="list-group-item">Agregar Usuarios</li>
                        <li class="list-group-item">Modificar Usuarios</li>

                    </ul>
                    <a href="#" class="btn btn-primary">proximamente...</a>
                </div>
            </div>
        </div>
    </div>



</div>